{% load static %}
<!doctype html>
<head>
	<!-- <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scanner/sc.css'%}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>

	<body>
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
		<center>
		<h1 >Welcome to E-Inventory</h1>
		<h5>Scan a QR-Code or Type your scan-Id in Box to get details</h5>
		<p id ="error" style="color: red;">{{error}}</p>
		</center>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-xs-4"></div>
				<div class="col-sm-4 col-xs-3">
					
					<video id="preview"  style="margin:0;width:100%;"></video>
					
					

					<center>
					<p><h5>------- OR ------</h5></p>
					</center>
					<!-- <p>
						<input id ="textinp" type="text" name="">
						<button id="btn" class="btn btn-success" onclick="getdetails();">Details</button>
					</p> -->
					<form method="post">
						{% csrf_token %}
					    <input id="owner_id" type="text" name="owner_id" placeholder="Your Owner Id">
					    <input id="submit" class="btn btn-success" type="submit" value="Details">
					</form>
					
					<!---a id='url1'>{{details_url}}</a--->
					
					
				</div>
				<div class="col-sm-4 col-xs-5"></div>	
			</div>
		</div>
		<script type="text/javascript" src="{% static 'scanner/sc.js'%}" ></script>
					
		<script type="text/javascript">
			

			/*async function getapi(url,content) {

			    // Storing response
			    const response = await fetch(url);
			    
			    // Storing data in form of JSON
			    var data = await response.json();
			    console.log(data["error"]);
			    if(data["error"] == "notfound"){
			    	var x = document.getElementById("error")
					x.innerHTML = "Id Not Found Try Again";			    	
			    }
			    else{

			    	window.location.href=window.location.href+ "store/info/" + content
				}
			}
			function getdetails(){
				var txt = document.getElementById("textinp");
				url = window.location.href
				url = url+'store/fullinfo/'+txt.value;
				
				console.log(url);
				content = txt.value;
				getapi(url,content);
			}*/

			
		</script>

	</body>
</html>
